{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Make a Payment</title>
<!-- link to the Web SDK library -->
<script type="text/javascript" src="https://connect.squareup.com/v2"></script>
<script type="application/javascript">
    window.applicationId = '{{ app_id }}';
    window.locationId = '{{loc_id}}';
    window.currency = '{{currency}}';
    window.country = '{{country}}';
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sq-payment.css' %}">
{% endblock title %}
{% block content %}
<h4>Make a Payment</h4>
<!-- Begin Payment Form -->
<form class="payment-form" id="fast-checkout" action="{% url 'payment:process' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="payment-token" id="payment-token">
  <div class="wrapper">
    <div id="card-container"></div>
    <div>
      <button id="card-button" type="button" class="btn btn-lg btn-success">
        Pay ${{ total }} Now
      </button>
      <span id="payment-flow-message">
    </div>
  </div>
</form>
<div id="payment-status-container"></div>
<script type="text/javascript" src="{% static 'js/sq-card-pay.js' %}"></script>
<!-- link to the local Web SDK initialization -->
<script type="text/javascript" src="{% static 'js/sq-payment-flow.js' %}"></script>
  <!-- End Payment Form -->
{% endblock content %}