{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Make a Payment</title>
{% endblock %}

{% block extra_head %}
<!-- Square Web Payments SDK -->
<script src="https://web.squarecdn.com/v1/square.js"></script>

<script>
    window.applicationId = "{{ app_id }}";
    window.locationId = "{{ loc_id }}";
    window.currency = "{{ currency }}";
    window.country = "{{ country }}";
</script>

<link rel="stylesheet" href="{% static 'css/sq-payment.css' %}">
{% endblock %}

{% block content %}

<h4 class="mb-4">Make a Payment</h4>

<form id="fast-checkout"
      class="payment-form"
      action="{% url 'payment:process_payment' %}"
      method="POST">

    {% csrf_token %}
    <input type="hidden" id="payment-token" name="payment-token">

    <div class="wrapper">
        <div id="card-container"></div>

        <button id="card-button"
                type="button"
                class="btn btn-success btn-lg mt-3">
            Pay ${{ total }} Now
        </button>

        <span id="payment-flow-message" class="text-danger mt-2"></span>
    </div>
</form>

<div id="payment-status-container"></div>

<!-- Square JS handlers -->
<script src="{% static 'js/sq-card-pay.js' %}"></script>
<script src="{% static 'js/sq-payment-flow.js' %}"></script>

{% endblock %}
