{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Make a Payment</title>
<!-- <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script> -->
<script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>
<script type="application/javascript">
    window.applicationId = '{{app_id}}';
    window.locationId = '{{loc_id}}';
</script>
<script type="text/javascript" src="{% static 'js/sq-payment-form.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sq-payment-form.css' %}">
{% endblock title %}
{% block content %}
<h4>Make a Payment</h4>
<!-- Begin Payment Form -->
<div class="sq-payment-form">
    <!--
      Square's JS will automatically hide these buttons if they are unsupported
      by the current device.
    -->
    <!-- <div id="sq-walletbox">
      <button id="sq-google-pay" class="button-google-pay"></button>
      <button id="sq-apple-pay" class="sq-apple-pay"></button>
      <button id="sq-masterpass" class="sq-masterpass"></button>
      <div class="sq-wallet-divider">
        <span class="sq-wallet-divider__text">Or</span>
      </div>
    </div> -->
    <div id="sq-ccbox">
      <!--
        You should replace the action attribute of the form with the path of
        the URL you want to POST the nonce to (for example, "/process-card").
        You need to then make a "Charge" request to Square's Payments API with
        this nonce to securely charge the customer.
        Learn more about how to setup the server component of the payment form here:
        https://developer.squareup.com/docs/payments-api/overview
      -->
      <form id="nonce-form" novalidate method="POST" action="{% url 'payment:process' %}">
          {% csrf_token %}
        <div class="sq-field">
          <label class="sq-label">Card Number</label>
          <div id="sq-card-number"></div>
        </div>
        <div class="sq-field-wrapper">
          <div class="sq-field sq-field--in-wrapper">
            <label class="sq-label">CVV</label>
            <div id="sq-cvv"></div>
          </div>
          <div class="sq-field sq-field--in-wrapper">
            <label class="sq-label">Expiration</label>
            <div id="sq-expiration-date"></div>
          </div>
          <div class="sq-field sq-field--in-wrapper">
            <label class="sq-label">Postal</label>
            <div id="sq-postal-code"></div>
          </div>
        </div>
        <div class="sq-field">
          <button id="sq-creditcard" class="sq-button" onclick="onGetCardNonce(event)">
            Pay ${{total}} Now
          </button>
        </div>
        <div id="pay-now-spinner" class="text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!--
          After a nonce is generated it will be assigned to this hidden input field.
        -->
        <div id="error"></div>
        <input type="hidden" id="card-nonce" name="nonce">
      </form>
    </div>
  </div>
  <!-- End Payment Form -->
{% endblock content %}