{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Rink Schedule</title>{% endblock title %}
{% block content %}
    {% if rink == 'north' %}
    <h4>North Rink</h4>
    {% elif rink == 'south' %}
        <h4>South Rink</h4>
    {% else %}
    <h4>North and South</h4>
    {% endif %}
    <p class="resurface-timer">Next Resurface in: <span id="resurface-timer"></span>
        {% if rink == 'both' %}<br /><span style="font-size: 8pt; color:darkgreen;">Check rink specific schedule for more accurate countdown in case of back to back events.</span>{% endif %}</p>
    <table class="schedule">
        <tr class="schedule-row">
            {% if rink == 'both' %}<th>Rink</th>{% endif %}<th>Start</th><th><b>End</b></th><th>Event</th>
        </tr>
        {% for object in object_list %}
        <tr class="schedule-row">
            {% if rink == 'both' %}<td class="schedule-cell rink">{{ object.rink }}</td>{% endif %}<td class="schedule-cell">{{ object.start_time }}</td><td class="schedule-cell"><b>{{ object.end_time }}</b></td>
            <td class="schedule-cell">{{ object.event }}{% if object.notes %}<br /><div class="schedule-notes">{{ object.notes }}</div>{% endif %}</td>
        </tr>
        {% empty %}
        <tr>{% if rink == 'both' %}<td></td>{% endif %}<td colspan="3"><p>Nothing on Schedule!</p></td></tr>
        {% endfor %}
    </table><br />
    <div class="container">
    {% if rink == 'north' %}
    <a href="{% url 'schedule:rink-schedule-list' rink='south' %}" class="btn btn-warning btn-sm schedule-button">Go To South Rink</a><br />
    <a href="{% url 'schedule:rink-schedule-list' rink='both' %}" class="btn btn-warning btn-sm schedule-button">North and South</a>
    {% elif rink == 'south' %}
    <a href="{% url 'schedule:rink-schedule-list' rink='north' %}" class="btn btn-warning btn-sm schedule-button">Go To North Rink</a><br />
    <a href="{% url 'schedule:rink-schedule-list' rink='both' %}" class="btn btn-warning btn-sm schedule-button">North and South</a>
    {% else %}
    <a href="{% url 'schedule:rink-schedule-list' rink='north' %}" class="btn btn-warning btn-sm schedule-button">North Only</a><br />
    <a href="{% url 'schedule:rink-schedule-list' rink='south' %}" class="btn btn-warning btn-sm schedule-button">South Only</a>
    {% endif %}
    </div>
    <script type="text/javascript">
    var resurface_times = [{% for time in resurface_times %}"{{ time }}",
    {% endfor %}];
    var start_times = [{% for start in start_times %}"{{ start }}",
    {% endfor %}];
    </script>
    {% if rink == 'both' %}<script src="{% static 'js/schedule_both_rinks.js' %}"></script>{% else %}
    <script src="{% static 'js/schedule.js' %}"></script>{% endif %}
{% endblock content %}