{% extends 'base.html' %}
{% block title %}<title>Print Open Hockey Sessions</title>{% endblock title %}
{% block content %}
    <h4>Upcoming Open Hockey Sessions</h4>
    <p>Choose a date below to print the Release of Liability for that session of open hockey.  Click the Registered Skaters button to view the list of skaters.</p>
    <ul class="list-group" style="display: inline-block; margin-bottom: 10px;">
        {% for date in dates %}
        <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'open_hockey:open-hockey-list' date=date %}" class="btn btn-warning btn-sm">{{ date }}</a> 
        <!-- Button trigger skaterlist modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#skaterlist{{forloop.counter}}">
        Registered Skaters</button></li>
        {% empty %}
        <li class="list-group-item" style="padding: 5px 15px;">There are no open hockey sessions available to print.</li>
        {% endfor %}
    </ul>
    {% for list in skater_lists %}
    <div class="modal fade" id="skaterlist{{forloop.counter}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="upcomingSessionsBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-light bg-secondary">
              <h5 class="modal-title" id="skaterListBackdropLabel{{forloop.counter}}">Open Hockey Session Participants</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for skater in list %}
                    <li class="list-group-item">{{skater.skater.first_name}} {{skater.skater.last_name}} {% if skater.paid %}<b class="text-success">(Paid)</b>{% endif %}
                    {% if skater.goalie %}<b class="text-success">(Goalie)</b>{% endif %}</li>
                    {% empty %}
                    <li class="list-group-item">No participants signed up for this session!</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock content %}