{% extends 'base.html' %}
{% block title %}<title>Open Hockey Member List</title>{% endblock title %}
{% block content %}
    <h4>Open Hockey Member List</h4>
{% if user.is_authenticated and user.is_staff %}
{% for member in object_list %}
{% with member as user %}
<ul class="list-group" style="display: inline-block; margin-bottom: 10px;">
    <li class="list-group-item" style="padding: 5px 15px;">Member Name: <b>{{ member.member.first_name }} {{ member.member.last_name }}</b></li>
    <li class="list-group-item" style="padding: 5px 15px;">Status: {% if member.active %} <b>Active</b> {% else %} <b style="color:red;">Not Active</b> {% endif %}</li>
    <li class="list-group-item" style="padding: 5px 15px;">End Date: <b>{{ member.end_date }}</b></li>
</ul><br />
{% endwith %}
{% empty %}
<p>There are no open hockey members.</p>
{% endfor %}
{% else %}
<p>You are not authorized to view this information!</p>
{% endif %}
{% endblock content %}