{% extends 'base.html' %}
{% block title %}<title>Open Hockey Sessions for {{ user.username }}</title>{% endblock title %}
{% block content %}
    <h4>Yeti Skate Sessions for {{ user.username }}</h4>
    {% if messages %}{% for message in messages %}
    <div class="alert alert-danger alert-dismissible alert-link" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% else %}
    <p>You are signed up for the following sessions of open hockey.</p>
    {% endif %}
    <ul class="list-group" style="display: inline-block; margin-bottom: 10px;">
        {% for session in sessions %}
        <li  class="list-group-item" style="padding: 5px 15px;">{{ session.date }} <a href="{% url 'open_hockey:delete-skater-session' pk=session.pk %}" 
            class="btn btn-warning btn-sm">Remove me from this session</a></li>
        {% empty %}
        <li class="list-group-item" style="padding: 5px 15px;">You are not currently signed up for any sessions!</li>
        {% endfor %}
    </ul>
{% endblock content %}