{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}<title>OIC Web Apps Profile</title>{% endblock title %}
{% block content %}
<h4 class="mb-4">My Profile</h4>
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% if in_group_mike_schultz or in_group_womens_hockey or in_group_lady_hawks %}
<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="modal" data-target="#mySkatersModal">My
    Skaters</button>
<!-- My Skater Modal -->
<div class="modal fade" id="mySkatersModal" tabindex="-1" role="dialog" aria-labelledby="mySkatersModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-light bg-secondary">
                <h5 class="modal-title" id="mySkatersModalLongTitle">{{date.skate_date}} My Skaters</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for skater in my_skaters %}
                    <li class="list-group-item">
                        <div class="row justify-content-between">
                            <div class="col-8-sm">
                                Skater Name: {{skater}}<br>Date of Birth: {{skater.date_of_birth}}
                            </div>
                            <div class="col-4-sm">
                                <form method="POST" action="{% url 'accounts:my-skaters-remove' pk=skater.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk" value="{{ skater.id }}">
                                    <input type="submit" value="Remove Skater" class="btn btn-danger btn-sm">
                                </form>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">Add yourself and/or any child skaters.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <a href="{% url 'accounts:my-skaters-add' %}" class="btn btn-success btn-sm">Add Skater</a>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End My Skater Modal -->
{% endif %}
<p class="mb-0">
    <button class="btn btn-primary btn-sm mb-3" href="{% url 'accounts:purchase-credit' slug=user.username %}">Credit
        Balance: ${{ credit.balance }}</button>
    <button type="button" class="btn btn-info btn-sm mb-3" data-toggle="modal" data-target="#myCreditModal"><i
            class="fas fa-question-circle fa-lg"></i></button>
    {% if credit.pending != 0 %}
    <a class="btn btn-danger btn-sm mb-3" href="{% url 'cart:shopping-cart' %}">Pay for Pending Credits:
        ${{ credit.pending }}</a>
    {% else %}
    <a class="btn btn-success btn-sm mb-3" href="{% url 'accounts:purchase-credit' slug=user.username %}">Purchase
        Credits</a>
    {% endif %}
</p>
{% include 'accounts/user_credits_modal_include.html' %}
<p><a href="{% url 'payment:payments-list' %}" class="btn btn-primary btn-sm">View Payment History</a></p>
<form method="POST" class="border rounded p-2">
    <h5>Email Preferences:</h5>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Update Preferences" class="btn btn-success btn-sm">
</form>
<script>
    {% if not in_group_thane_storck %}
    document.querySelector('#id_thane_storck_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_adult_skills %}
    document.querySelector('#id_adult_skills_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_mike_schultz %}
    document.querySelector('#id_mike_schultz_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_yeti_skate %}
    document.querySelector('#id_yeti_skate_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_womens_hockey %}
    document.querySelector('#id_womens_hockey_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_figure_skating %}
    document.querySelector('#id_figure_skating_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_bald_eagles %}
    document.querySelector('#id_bald_eagles_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_lady_hawks %}
    document.querySelector('#id_lady_hawks_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_chs_alumni %}
    document.querySelector('#id_chs_alumni_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_kranich %}
    document.querySelector('#id_kranich_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
    {% if not in_group_caribou %}
    document.querySelector('#id_caribou_email').parentNode.parentNode.style.display = 'none';
    {% endif %}
</script>
{% endblock content %}