{% extends 'base.html' %}
{% load static %}
{% block title %}<title>OIC Web Apps Revenue Report Form</title>{% endblock title %}
{% block content %}
<h4>OIC Web Apps Revenue Report Form</h4>
<p>Choose start and end dates to generate report.</p>
<form action="{% url 'revenue-report' %}" method="POST">
    {% csrf_token %}
<div class="row">
    <div class="col-md-6 col-sm-12 my-2">
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" id="start_date">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 my-2">
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" id="end_date">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 my-2">
        <input type="submit" value="Generate Report" class="btn btn-success">
    </div>
</div>
</form>
{% endblock content %}
