{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}<title>OIC Web Apps --> Profile --> Purchase Credit</title>{% endblock title %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissable alert-link" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<h5>Purchase Credits</h5>
<p>Please enter the number of credits you would like to purchase. ($1 = 1 credit)</p>
<h5>Credits Incentive Program*</h5>
<ul class="list-group mb-3">
    {% for incentive in incentives %}
    <li class="list-group-item">
        Buy ${{ incentive.price_point }} in credits and get <b>{{ incentive.incentive }}%</b> more free!
    </li>
    {% endfor %}
</ul>
<div class="small footnote">
    *Incentive price points and percentages are subject to change without notice.
</div>
<div class="small footnote">
    **In the event you need a refund for credits purchased, the amount you received in free credits will be deducted from your refund.
</div>
    
<form action="{% url 'accounts:purchase-credit' slug=user.username %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Add to Cart" class="btn btn-success btn-sm my-3">
</form>
{% endblock content %}
        