{% extends 'base.html' %}{% load bootstrap4 %}
{% block title %}<title>Upcoming CHS Alumni Skate Sessions</title>{% endblock title %}
{% block content %}
<h4>Upcoming CHS Alumni Skate Sessions</h4>
<p>Choose a date below to register for that session of CHS Alumni Skate. You may remove yourself
    from a session prior to paying. Once you have paid for the session(s), you will be unable to remove yourself from
    the session(s).</p>
<p>If you'd like to be notified when CHS Alumni Skate dates are available for registration, update your <a
        href="{% url 'accounts:profile' slug=user.id %}">email preferences</a>.</p>
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger alert-dismissible alert-link" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
    {{ message }}
</div>
{% else %}
<div class="alert alert-info alert-dismissible alert-link" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
    {{ message }}
</div>
{% endif %}
{% empty %}
{% endfor %}
{% include 'accounts/user_credits_include.html' %}
{% include 'accounts/user_credits_modal_include.html' %}
<ul class="list-group mb-3 d-inline-block">
    {% for date in skate_dates %}
    <li class="list-group-item" style="padding: 5px 15px;">
        <a href="{% url 'chs_alumni:register' pk=date.pk %}" class="btn btn-warning btn-sm mb-2 mb-sm-0">
            {{ date.skate_date }} {{date.start_time|time:'g:i A'}} to {{date.end_time|time:'g:i A'}}</a>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#skaterModalCenter{{forloop.counter}}">Skaters <span
                class="number-of-skaters">{{ date.registered_skaters.num_skaters }}</span> Goalies <span
                class="number-of-skaters">{{ date.registered_skaters.num_goalies }}</span></button>
    </li>
    <div class="modal fade" id="skaterModalCenter{{forloop.counter}}" tabindex="-1" role="dialog"
        aria-labelledby="skaterModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-light bg-secondary">
                    <h5 class="modal-title" id="skaterModalLongTitle{{forloop.counter}}">{{date.skate_date}} Registered
                        Skaters</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for session in date.session_skaters.all %}
                        <li class="list-group-item">
                            {{session.skater.get_full_name}}
                            {% if session.goalie %}<b>(Goalie)</b>{% endif %}
                            {% if not session.paid and user == session.skater %}<b>(Not Paid)</b>
                            <form method="POST" action="{% url 'chs_alumni:session-remove' pk=session.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{session.pk}}">
                                <input type="submit" value="Remove Me From This Skate"
                                    class="btn btn-danger btn-sm mt-2">
                            </form>
                            {% endif %}
                        </li>{% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <li class="list-group-item" style="padding: 5px 15px;">Sorry, no skates are available at this time.</li>
    {% endfor %}
</ul>
{% endblock content %}