{% extends 'base.html' %}{% load bootstrap4 %}{% load static %}
{% block title %}<title>OIC Web Apps {{board.name}} New Topic</title>{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/mb.css' %}">{% endblock css %}
{% block content %}
<ul class="board-nav">
    <li class="board-nav-item"><a href="{% url 'message_boards:message-boards' %}">Boards</a></li>
    <li class="board-nav-item"><a href="{% url 'message_boards:board-topics' slug=board.slug %}">{{ board.name }}</a></li>
    <li class="board-nav-item"><a href="{% url 'message_boards:topic-post-list' slug=board.slug pk=topic.pk %}">{{ topic.subject }}</a></li>
    <li class="board-nav-item">Post Reply</li>
</ul>
<h5>Subject: {{topic.subject}}</h5>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <p><input type="submit" value="Post Reply" class="btn btn-success"></p>
    </form>
{% endblock content %}