{% extends 'base.html' %}
{% block title %}<title>Print Upcoming Thane Storck Skate Sessions</title>{% endblock title %}
{% block content %}
    <h4>Upcoming Thane Storck Skate Sessions</h4>
    <p>Choose a date below to print the Release of Liability for that session of Thane Storck's skate.  You may also use the 
        <button class="btn btn-primary btn-sm" href="#">Registered Skaters</button> button to see who has registered and paid for the skate.</p>
    <ul class="list-group" style="display: inline-block; margin-bottom: 10px;">
        {% for date in skate_dates %}
        <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'thane_storck:thane-skate-print' pk=date.pk %}" 
            class="btn btn-warning btn-sm mb-2 mb-sm-0">{{ date.skate_date }} @ {{ date.start_time }}</a>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#skaterModalCenter{{forloop.counter}}">Registered Skaters</button></li>
            <div class="modal fade" id="skaterModalCenter{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="skaterModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-light bg-secondary">
                    <h5 class="modal-title" id="skaterModalLongTitle{{forloop.counter}}">{{date.skate_date}} Registered Skaters</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            {% for skater in session_skaters %}
                            {% if skater.skate_date.pk == date.pk %}<li class="list-group-item">Skater Name: {{skater.skater.first_name}} {{skater.skater.last_name}}
                                <b>{% if skater.goalie %}(Goalie){%elif skater.paid %}(Paid){%elif not skater.paid%}(Not Paid){% endif %}</b></li>{% endif %}{% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% empty %}
        <li class="list-group-item" style="padding: 5px 15px;">There are no Thane Storck skate sessions available to print.</li>
        {% endfor %}
    </ul>
{% endblock content %}