{% extends 'base.html' %}
{% block title %}<title>Past Figure Skating Sessions</title>{% endblock title %}
{% block content %}
<h4 class="mb-4">Past Figure Skating Sessions</h4>
<div class="mb-3">
    <a class="btn btn-warning" href="{% url 'figure_skating:figure-skating' %}">Back to Figure Skating</a>
</div>
    <ul class="list-group mb-3 d-inline-block">
    {% for session in past_sessions %}
        <li class="list-group-item">
            {{ session.skater}}<br /> {{ session.session }}
        </li>
    {% empty %}
        <li>No past sessions found.</li>
    {% endfor %}
    </ul>
    <div class="pagination justify-content-center">
        <div class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-secondary" href="?page=1">&lt;&lt;</a>
                <a class="btn btn-sm btn-dark mx-2" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            {% endif %}
            <span class="btn btn-sm btn-dark disabled">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-dark mx-2" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                <a class="btn btn-sm btn-secondary" href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
            {% endif %}
        </div class="step-links">
    </div>
{% endblock content %}
    
    