{% extends 'base.html' %}
{% block title %}<title>OIC How To Video List</title>{% endblock title %}
{% block content %}
<div class="container text-center">
    <div class="mb-3">
        <a href="{% url 'how_to_videos:index' %}" class="btn btn-warning">How To Videos</a> &gt;&gt; {{ category }}
    </div>
    {% for video in videos %}
    <div class="row">
        <div class="col">
            <a href="{{video.video_url}}" class="btn btn-lg btn-dark my-3" target="_blank">{{ video.title }}</a>
        </div>
        <!-- <iframe width="560" height="315" 
        src="" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe> -->
    </div>
    {% empty %}
    <p>No videos in this category yet.</p>
    {% endfor %}
</div>
{% endblock content %}
