{% extends 'base.html' %}
{% block content %}
{% block title %}<title>Stick and Puck</title>{% endblock title %}
<h4>Stick and Puck</h4>
{% include 'accounts/user_credits_include.html' %}
{% include 'accounts/user_credits_modal_include.html' %}
<ul class="list-group" style="display: inline-block; margin-bottom: 10px;">
    <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'stickandpuck:skater-add' %}" class="btn btn-warning btn-sm">Add a Skater</a></li>
    <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'stickandpuck:skater-list' %}" class="btn btn-warning btn-sm">My Skaters</a></li>
    <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'stickandpuck:sessions' %}" class="btn btn-warning btn-sm">Sign up for Stick and Puck Sessions</a></li>
    <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'stickandpuck:mysessions' %}" class="btn btn-warning btn-sm">My Sessions</a></li>
</ul>
{% endblock content %}