{% extends 'base.html' %}{% load bootstrap4 %}
{% block title %}<title>Stick and Puck Session Signup</title>{% endblock title %}
{% block content %}
<h4>Stick and Puck Session Signup</h4>
<p>Please select the skater you would like to sign up for this session.</p>
    <form method="POST" action="{% url 'stickandpuck:signup' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Sign Up" class="btn btn-success btn-sm">
    </form>
    {{skater}}
{% endblock content %}
