{% extends 'base.html' %}
{% block title %}<title>Stick and Puck Sessions List</title>{% endblock title %}
{% block content %}
    <h4>Stick and Puck Sessions List</h4>
    <p>Select a stick and puck session date from the list below.</p>
    {% for message in messages %}
    <p class="error">{{ message }}</p>
    {% empty %}
    {% endfor %}
<ul>
{% for session in object_list %}
    <li style="line-height: 3;"><a href="{% url 'stickandpuck:signup' session_date=session.session_date session_time=session.session_start_time %}" class="btn btn-warning btn-sm">
        {{ session.session_date }} @ {{ session.session_start_time }} <b>{{ session.session_notes }}</b></a>
        &nbsp;&nbsp;<a href="{% url 'stickandpuck:skater-spots' session_date=session.session_date session_time=session.session_start_time %}" 
        class="btn btn-success btn-sm">Check available skater spots</a></li>
{% empty %}
    <li>There are no upcoming stick and puck sessions.</li>
{% endfor %}
</ul>
{% endblock content %}