{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error - OIC Web Apps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <script src="https://kit.fontawesome.com/2cb1c0d76b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md mb-4 text-center" style="color: #383863;"><i class="fas fa-exclamation-triangle fa-10x"></i></div>
                <div class="col-md mt-2"><h3>Hmmm, what happened here?</h3>
                    <p>Apparently we have experienced a server error, sorry about that.  Don't worry, the developer has been informed 
                        of the error and will be working to correct it soon.  Please try again later!
                    </p>
                    <p>If you've experienced this while trying to make a payment, please don't try again now.  It's likely not a problem with your 
                        payment method.  Check your skate session and see if the payment went through.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    