{% extends 'base.html' %}
{% block title %}<title>Ozaukee Ice Center Web Apps</title>{% endblock title %}
{% block content %}
    <h3>Welcome to OIC Web Apps</h3>
    <div class="alert alert-danger alert-dismissible alert-link" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
            <p>Due to current health concerns the Ozaukee Ice Center has closed until further notice.  The web apps site 
            has been disabled, but will be enabled once the ice center reopens.  Thank you for your patience during this time. 
            If you recently registered and paid for services online, your payments will be applied to the next skate session once 
            the rink is open again.</p>
            <p>The Ozaukee Ice Center</p>
    </div>
    <p>Please click on the programs dropdown navigation menu to find out more about that particular program and any 
        requirements or restrictions.
    </p>
    <p>To participate in certain Ozaukee Ice Center programs, you can register for the OIC Web Apps site.
        To register, please select the Sign Up link on the navigation bar.  Once you have signed up for an 
        account, you may Log In and select the Web App for the program in which you wish to participate.
    </p>
{% endblock content %}