{% extends 'base.html' %}
{% block title %}<title>Ozaukee Ice Center Web Apps</title>{% endblock title %}
{% block content %}
    <h3>Welcome to OIC Web Apps</h3>
    <p>Please click on the programs dropdown navigation menu to find out more about that particular program and any 
        requirements or restrictions.
    </p>
    <p>To participate in certain Ozaukee Ice Center programs, you can register for the OIC Web Apps site.
        To register, please select the Sign Up link on the navigation bar.  Once you have signed up for an 
        account, you may Log In and select the Web App for the program in which you wish to participate.
    </p>
{% endblock content %}