{% extends 'base.html' %}
{% block title %}<title>OIC - Open Hockey</title>{% endblock title %}
{% block content %}
    <h3>Adult Open Hockey @ OIC</h3>
    <p>Open Hockey is available for adults 18 and over.  You may sign up for an OIC Web Apps account prior to skating. 
        Once you have registered for an account, you may use the Open Hockey Web App to sign up for open hockey sessions.</p>
    <p>Prepaid open hockey memberships are available for 3, 6, 9 and 12 month periods. Members are automatically added to each 
        session during their membership and are guaranteed a spot each session.  Please refer to member pricing below.</p>
    <p><b>Please note: You do not need an OIC Web Apps account to skate.  You may come Tuesday and Friday mornings, but those who
        sign up with the web app will have priority.  If the session is full, you will not be allowed to skate. If someone on the session list
        does not show up, you would be allowed to pay and skate for that session.</b></p>
    <ul>
        <li>When: Tuesday and Friday mornings year round</li>
        <li>Time: 6:00 AM to 7:30 AM</li>
        <li>Limited to:</li>
        <ul>
            <li>Skaters: 22</li>
            <li>Goalies: 2</li>
        </ul>
        <li>Cost:</li>
            Non-member:
            <ul>
                <li>Skaters: $12</li>
                <li>Goalies: Free</li>
            </ul>
            Member:
            <ul>
                {% for membership in memberships %}
                    <li>{{membership.name}} - ${{membership.cost}}</li>
                {% endfor %}
            </ul>
    </ul>
{% endblock content %}