{% extends 'base.html' %}
{% block title %}<title>OIC - Stick and Puck</title>{% endblock title %}
{% block content %}
    <h3>Stick and Puck @ OIC</h3>
    <p>Stick and Puck sessions are available for kids and adults of all ages.  You may sign up for an OIC Web Apps account prior to skating. 
        Once you have registered for an account, you may use the Stick and Puck Web App to sign up for stick and puck sessions.
    <b>Parents and Guardians may register minor children for stick and puck sessions once you have signed up for an OIC Web Apps account.</b></p>
    <p><b>Please note: You do not need an OIC Web Apps account to skate.  You may come to any stick and puck session, but those who
        sign up with the web app will have priority.  If the session is full, you will not be allowed to skate.</b></p>
    <ul>
        <li>When: Various dates and times throughout the year</li>
        <li>Limited to:</li>
        <ul>
            <li>Skaters: 26</li>
        </ul>
        <li>Cost:</li>
             <ul>
                <li>Skaters: $12</li>
            </ul>
    </ul>
{% endblock content %}