{% extends 'base.html' %}
{% block title %}<title>OIC - Open Hockey</title>{% endblock title %}
{% block content %}
    <h3>Adult Open Hockey @ OIC</h3>
    <p>Open Hockey is available for adults 18 and over.  You may sign up for an OIC Web Apps account prior to skating. 
        Once you have registered for an account, you may use the Open Hockey Web App to sign up for open hockey sessions.</p>
    <p>Prepaid open hockey memberships are available for 3, 6, 9 and 12 month periods. Members are automatically added to each 
        session during their membership and are guaranteed a spot each session.  Please refer to member pricing below.  You may sign 
        up for a membership Tuesday and Friday mornings with the rink employee. Simply sign up for an OIC Web Apps account and bring a check
        in the amount of the corresponding membership.  Debit or credit cards are accepted for an additional processing fee.</p>
    <p><b>Please note: You do not need an OIC Web Apps account to skate.  You may come Tuesday and Friday mornings, but those who
        sign up with the web app will have priority.  If the session is full, you will not be allowed to skate. If someone on the session list
        does not show up by 5:45 AM, you would be allowed to pay and skate for that session.</b></p>
    <ul>
        <li>When: Tuesday and Friday mornings year round</li>
        <li>Time: 6:00 AM to 7:30 AM</li>
        <li>Limited to:</li>
        <ul>
            <li>Skaters: 22</li>
            <li>Goalies: 2</li>
        </ul>
        <li>Cost:</li>
            Non-member:
            <ul>
                <li>Skaters: $10</li>
                <li>Goalies: Free</li>
            </ul>
            Member:
            <ul>
                <li>3 Month - $250 ($10 savings)</li>
                <li>6 Month - $500 ($20 savings)</li>
                <li>9 Month - $750 ($30 savings)</li>
                <li>12 Month - $1,000 ($40 savings)</li>
            </ul>
    </ul>
{% endblock content %}