{% extends 'base.html' %}
{% block title %}<title>Ozaukee Ice Center Web Apps</title>{% endblock title %}
{% block content %}
    <h3>Welcome to OIC Web Apps {{ user.username }}</h3>
    <p>Thank you for creating an OIC Web Apps account. You may now sign up for open hockey and stick and puck sessions. 
        Please choose the appropriate program from the Web Apps dropdown menu to view upcoming sessions.</p>
    <p><b>Please note: If you sign up for open hockey or stick and puck and do not show up for the session, you
        will be given a warning.  The second offense will result in your account being set as "Inactive" and you will
        longer be able to sign up online and reserve your spot.  If you are unable to attend a session for which you have signed up, you may
        remove yourself from that session on the "My Sessions" page.</b></p>
{% endblock content %}