body{
    background-color: #383863;
    color: #383863;
}

label {
    font-size: medium;
}

.techfont{
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
}

td, th{
    vertical-align: text-top;
}

.dropdown-item:hover {
    color: chartreuse;
    background-color: #383863;
}

.content{
    background-color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.footnote {
    background-color: #383863;
    color: chartreuse;
    border-radius: 5px;
    padding: 4px 14px;
    margin-bottom: 8px;
    display: inline-block;
}

#caps-lock{
    display: none;
    color: red;
    font-weight: bold;
}

.footer{
    font-size: 10pt;
    color: white;
}

.error{
    color: red;
    font-weight: bold;
}

.open-hockey-list, td{
    vertical-align: top;
    color: black;
}

.signature-row, th{
    height: 35px;
    font-size: 12pt;
}

.schedule {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}

.schedule-row {
    border-bottom: 2px solid black;
}

.schedule-row:nth-child(even) {
    background-color: lightgray;
}

.schedule-cell {
    padding: 5px;
}

.rink {
    font-weight: bold;
}

.schedule-notes {
    font-size: 8pt;
    font-style: italic;
}

.resurface-timer {
    color: red;
    font-weight: bolder;
}

.schedule-button {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

#resurface-notifications {
    display: none;
}

.number-of-skaters {
    display: inline-block;
    background-color: #0053ac;
    color: white;
    width: 21px;
    /* font-weight: bold; */
    border-radius: 5px;
}
