{% extends 'base.html' %}{% load bootstrap4 %}
{% block title %}<title>Upcoming Yeti Skate Sessions</title>{% endblock title %}
{% block content %}
    <h4>Upcoming Yeti Skate Sessions</h4>
    <p>Choose a date below to register for that session of Yeti Skate. Disabled skate sessions indicate that you have registered for the skate session(s). You may remove yourself 
        from a session prior to paying.  Once you have paid for the session(s), you will be unable to remove yourself from the session(s).</p>
    <p>If you'd like to be notified when Yeti Skate dates are available for registration, update your <a href="{% url 'accounts:profile' slug=user.id %}">email preferences</a>.</p>
    <div class="row mb-3">
        <div class="col-lg-3 col-md-6 col-12 mb-md-0 mb-2">
            <a href="{% url 'group_message:group-message' group=7 %}" class="btn btn-secondary btn-sm">Send Group Message</a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-md-2 mb-2">
            <a href="{% url 'message_boards:board-topics' slug='yeti-skate' %}" class="btn btn-secondary btn-sm">Start a Conversation</a>
        </div>
        <div class="col-lg-6 col-12">
            <a href="{% url 'message_boards:topic-post-list' slug=latest_topic.board.slug pk=latest_topic.pk %}" class="btn btn-success btn-sm">Latest Post: {{latest_topic.subject}}</a>
        </div>
    </div>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible alert-link" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
            {{ message }}
    </div>
    {% else %}
    <div class="alert alert-info alert-dismissible alert-link" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
            {{ message }}
    </div>
    {% endif %}
    {% empty %}
    {% endfor %}
    <ul class="list-group mb-3" style="display: inline-block">
        {% for date in skate_dates %}
            {% if date.disabled %}
                <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'yeti_skate:register' pk=date.pk %}" class="btn btn-warning btn-sm mb-2 mb-sm-0 disabled">
                    {{ date.skate_date }} {{date.start_time}} to {{date.end_time}}</a>
            {% else %}
                <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'yeti_skate:register' pk=date.pk %}" class="btn btn-warning btn-sm mb-2 mb-sm-0">
                {{ date.skate_date }} {{date.start_time}} to {{date.end_time}}</a>
            {% endif %}
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#skaterModalCenter{{forloop.counter}}">Registered Skaters</button>
            {% if date.session_pk != None and date.paid == False %}
            <form method="POST" action="{% url 'yeti_skate:session-remove' pk=date.session_pk %}">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{date.session_pk}}">
                <input type="submit" value="Remove Me From This Skate" class="btn btn-danger btn-sm mt-2">
            </form>
            {% endif %}</li>
            <div class="modal fade" id="skaterModalCenter{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="skaterModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-light bg-secondary">
                    <h5 class="modal-title" id="skaterModalLongTitle{{forloop.counter}}">{{date.skate_date}} Registered Skaters</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            {% for skater in skate_sessions %}
                            {% if skater.skate_date.pk == date.pk %}<li class="list-group-item">Skater Name: {{skater.skater.first_name}} {{skater.skater.last_name}}
                                {% if skater.goalie %}<b>(Goalie)</b>{% endif %}
                                {% if user.is_superuser %}
                                {% if skater.paid %}<b>(Paid)</b>{% else %}<b>(Not Paid)</b>{% endif %}
                                {% endif %}
                            </li>{% endif %}{% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% empty %}
        <li class="list-group-item" style="padding: 5px 15px;">Sorry, no skates are available at this time.</li>
        {% endfor %}
    </ul>
{% endblock content %}