{% extends 'base.html' %}
{% block title %}<title>Upcoming Adult Skills Skate Sessions</title>{% endblock title %}
{% block content %}
    <h4>Upcoming Adult Skills Skate Sessions</h4>
    <p>Choose a date below to register for that session of Adult Skills. Disabled skate sessions indicate that you have registered for the skate session(s). You may remove yourself 
        from a session prior to paying.  Once you have paid for the session(s), you will be unable to remove yourself from the session(s).</p>
    <p>If you'd like to be notified when Adult Skills skate dates are available for registration, update your <a href="{% url 'accounts:profile' slug=user.id %}">email preferences</a>.</p>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible alert-link" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
            {{ message }}
    </div>
    {% else %}
    <div class="alert alert-info alert-dismissible alert-link" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="close">&#215;</button>
            {{ message }}
    </div>
    {% endif %}
    {% empty %}
    {% endfor %}
    {% include 'accounts/user_credits_include.html' %}
    {% include 'accounts/user_credits_modal_include.html' %}
    <ul class="list-group" style="display: inline-block; margin-bottom: 10px;">
        {% for date in skate_dates %}
            {% if date.disabled %}
                <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'adult_skills:register' pk=date.pk %}" class="btn btn-warning btn-sm mb-2 mb-sm-0 disabled">
                    {{ date.skate_date }} {{date.start_time}} to {{date.end_time}}</a>
            {% else %}
                <li class="list-group-item" style="padding: 5px 15px;"><a href="{% url 'adult_skills:register' pk=date.pk %}" class="btn btn-warning btn-sm mb-2 mb-sm-0">
                {{ date.skate_date }} {{date.start_time}} to {{date.end_time}}</a>
            {% endif %}
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#skaterModalCenter{{forloop.counter}}">Skaters <span
                class="number-of-skaters">{{date.registered_skaters.num_skaters}}</span> Goalies <span
                class="number-of-skaters">{{date.registered_skaters.num_goalies}}</span>
            </button>
            {% if date.session_pk != None and date.paid == False %}
            <a href="{% url 'cart:shopping-cart' %}" class="btn btn-sm btn-primary">Pay Now</a>
            <form method="POST" action="{% url 'adult_skills:session-remove' pk=date.session_pk %}">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{date.session_pk}}">
                <input type="submit" value="Remove Me From This Skate" class="btn btn-danger btn-sm mt-2">
            </form>
            {% endif %}
            <div class="modal fade" id="skaterModalCenter{{forloop.counter}}" tabindex="-1" role="dialog"
                aria-labelledby="skaterModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-light bg-secondary">
                            <h5 class="modal-title" id="skaterModalLongTitle{{forloop.counter}}">{{date.skate_date}} Registered
                                Skaters</h5>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                {% for skater in skate_sessions %}
                                {% if skater.skate_date.pk == date.pk %}
                                <li class="list-group-item d-inline-flex justify-content-between">
                                    <div>
                                        {{skater.skater.first_name}} {{skater.skater.last_name}}
                                        {% if skater.goalie %}<b>(Goalie)</b>{% endif %}
                                        {% if user.is_superuser %}
                                            {% if skater.paid %}<b>(Paid)</b>{% else %}<b>(Not Paid)</b>{% endif %}
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if skater.paid == True and user.is_superuser %}
                                            {% comment %}
                                            This form is for superusers to remove/refund people from the skate.
                                            {% endcomment %}
                                            <form method="POST" action="{% url 'adult_skills:session-remove' pk=skater.pk paid=skater.paid skater_pk=skater.skater.pk %}"
                                                onsubmit="return confirm('Are you sure you want to remove this skater and issue a refund?')">
                                                {% csrf_token %}
                                                <input type="hidden" name="pk" value="{{skater.skater.pk}}">
                                                <input type="submit" value="Remove/Refund" class="btn btn-danger btn-sm">
                                            </form>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item" style="padding: 5px 15px;">Sorry, no skates are available at this time.</li>
        {% endfor %}
    </ul>
{% endblock content %}